<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Annotorious</title>

  <%= stylesheet_link_tag "mobile", :media => "all"     %>
  <%= javascript_include_tag "mobile" %>

</head>
<body class="gray-background">

  <!--BEGIN top nav-->

  <div class="fixed contain-to-grid top-bar-background">

       <nav class="top-bar top-bar-background">
          <ul class="title-area">
            <!-- Title Area -->

            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar"><a href="#"><span></span></a></li>
            </ul>

        <div class="row">
          <div class="small-12 columns">
            <a href="#" class="small button expand back-button-1">&#x25C0;&nbsp;PROFILE</a>
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns">
            <h5 class="section-title-1">MY DOCUMENTS</h5>
          </div>

          <div class="small-4 columns add-button-included">
            <a href="#"><p><img src="img/plus_sign_22px.png"></p></a>
          </div>
        </div>
      </nav>

    </div>

    <!--END top nav-->

    <div class="row gray-background">
      <div class="large-12 columns top-gap">
      </div>
    </div>

    <!--BEGIN list of tappable (clickable) links such as documents, groups, etc. that will take you to that particular page-->

    <div class="row gray-background">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-8 large-offset-2 columns document-list">
            <a href="#" class="button secondary expand document-button-1">Alice in Wonderland&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">Moby Dick&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">The Iliad&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">The Odessey&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">Robinson Crusoe&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">Treasure Island&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">Dude, Where's My Car?&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">Winnie the Pooh&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">The Meme Hustler&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
            <a href="#" class="button secondary expand document-button-1">The Communist Manifesto&nbsp;&nbsp;<div class="arrow-on-button"><b>&#8250;</b></div></a>
          </div>
        </div>
      </div>
    </div>

    <!--END list of tappable (clickable) links such as documents, groups, etc. that will take you to that particular page-->


   <!-- Footer -->
    <footer class="bottom-bar-background bottom-bar-top-shadow">
      <div class="row bottom-bar-background">
          <div class="large-12 columns">
        <ul class="button-group even-5 expanded bottom-button-lineup">
          <li><a href="#" class="tiny button bottom-button-1"><img src="img/marks_icon_off_36px.png"><br><br>MARKS</a></li>
          <li><a href="#" class="tiny button bottom-button-1"><img src="img/library_icon_on_36px.png"><br><br>DOCS</a></li>
          <li><a href="#" class="tiny button bottom-button-1"><img src="img/folders_icon_off_36px.png"><br><br>FOLDERS</a></li>
          <li><a href="#" class="tiny button bottom-button-1"><img src="img/groups_icon_off_36px.png"><br><br>GROUPS</a></li>
          <li><a href="#" class="tiny button bottom-button-1"><img src="img/search_icon_off_36px.png"><br><br>SEARCH</a></li>
        </ul>
          </div>
      </div>
    </footer>



  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="js/foundation.min.js"></script>
  <!--

  <script src="js/foundation/foundation.js"></script>

  <script src="js/foundation/foundation.alerts.js"></script>

  <script src="js/foundation/foundation.clearing.js"></script>

  <script src="js/foundation/foundation.cookie.js"></script>

  <script src="js/foundation/foundation.dropdown.js"></script>

  <script src="js/foundation/foundation.forms.js"></script>

  <script src="js/foundation/foundation.joyride.js"></script>

  <script src="js/foundation/foundation.magellan.js"></script>

  <script src="js/foundation/foundation.orbit.js"></script>

  <script src="js/foundation/foundation.reveal.js"></script>

  <script src="js/foundation/foundation.section.js"></script>

  <script src="js/foundation/foundation.tooltips.js"></script>

  <script src="js/foundation/foundation.topbar.js"></script>

  <script src="js/foundation/foundation.interchange.js"></script>

  <script src="js/foundation/foundation.placeholder.js"></script>

  <script src="js/foundation/foundation.abide.js"></script>

  -->

  <script>
    $(document).foundation();
  </script>
</body>
</html>
