.dialog-overlay
{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1004;
  bottom: 90px;
}

.dialog
{
  position: fixed;
  bottom: 90px;
  background-color: #FFF;
  z-index: 1005;
  width: 100%;
}

.dialog-button-top
{
  margin-top: 0px;
}

/* Display Settings */

.dialog-display-settings .row
{
  padding-top: 20px;
  height: 60px;
}

.dialog-text, .dialog-display-settings
{
  font-family: 'roboto_condensedlight', 'Arial Narrow', 'Helvetica', Sans-serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: .065em;
  font-size: .98em;
  text-align: left;
}

.dialog-rule
{
  height: 1px;
  background-color: #d0d0d0;
  width: 95%;
  margin: 0 auto;
}

.dialog-selected-option
{
  background-image: url(../img/settings-selected.gif);
  background-repeat: no-repeat;
  background-position-y: 3px;
}

#dialog-display-settings-day span
{
  padding: 0px 4px;
  background-color: #d0d0d0;
}


#dialog-display-settings-night span
{
  background-color: #363636;
  padding: 0px 4px;
  color: #e3e3e3;
}

#dialog-display-settings-serif
{
  font-family: 'Georgia', serif;
}

/* Edit Note */
.dialog-edit-note-text
{
  font-family: 'roboto_condensedlight', 'Arial Narrow', 'Helvetica', Sans-serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: .065em;
  font-size: .9em;
  text-align: left;
  margin: 0px;
}

.dialog-edit-note-2 {
	height:400px;
	overflow:scroll;
}

.highlight-detail-note-text-edit
{
  font-family: 'roboto_condensedlight', 'Arial Narrow', 'Helvetica', Sans-serif !important;
  font-weight: normal;
  color: #000;
  font-size: .85em;
  height: 65px;
  margin-bottom: 25px;
  border: none;
}

input.highlight-detail-note-text
{
  width: 100%;
  padding-left: 5px;
}

.dialog-edit-note-meta-row
{
  height: 30px;
  padding: 15px 0px 45px;
}

/* CHOOSE FOLDER */
.dialog-document-list
{
  height: 200px;
  overflow: scroll;
  padding-top: 1em;
  padding-bottom: 5em;
}